/* Imágenes de fondo */
.cap .container.initial { background-image: url(/EduPress/img/ejercicios/1.00.jpeg); margin-top: -105px;}
.cap .container.zero { background-image: url(/EduPress/img/ejercicios/1.01.jpeg); }
.cap .container.first { background-image: url(/EduPress/img/ejercicios/1.02.jpeg); }
.cap .container.second { background-image: url(/EduPress/img/ejercicios/1.03.jpeg); }
.cap .container.third { background-image: url(/EduPress/img/ejercicios/1.04.jpeg); }
.cap .container.fourth { background-image: url(/EduPress/img/ejercicios/1.05.jpeg); }
.cap .img-first { background-image: url(/EduPress/img/ejercicios/1.10.jpeg); margin-top: -105px;}
.cap .img-first_1 { background-image: url(/EduPress/img/ejercicios/1.11.jpeg); }
.cap .img-first_2 { background-image: url(/EduPress/img/ejercicios/1.12.jpeg); }